.header {
  grid-area: h;
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 100px;
  background-color: green;
  position: relative;
  top: -20px;
}

.loginBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.name {
}

.user {
  height: 40px;
  margin: 20px;
}
